/* Error: Expected ".
 *    ,
 * 85 |     font-style: italic";
 *    |                         ^
 *    '
 *   sass\style.scss 85:25  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Expected ".\a    \2577 \a 85 \2502      font-style: italic";\d\a    \2502                          ^\a    \2575 \a   sass\\style.scss 85:25  root stylesheet';
}
