/* Error: expected "{".
 *     ,
 * 170 | >>>>>>> 01f6520b883af81d6027eed5ee10a7af42d42609
 *     |                                                 ^
 *     '
 *   sass\style.scss 170:49  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 170 \2502  >>>>>>> 01f6520b883af81d6027eed5ee10a7af42d42609\d\a     \2502                                                  ^\a     \2575 \a   sass\\style.scss 170:49  root stylesheet';
}
