.splash-inner {
    text-align:center;
}
.splash-inner .btn {
    margin-top: 20px;
}

.splash .image-body {
    right: auto;
    bottom: auto;
    padding-top: none;
    padding-bottom: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.portfolio {
    background-color: #eff2f5;
}

@media (max-width: 576px) {
    h1 {
        font-size: 25px;
    }
}