
.container {
    max-width: 1140px;
    // padding: 0 20px;
    // margin: 0 auto;
}

h1 {
    font-size: 30px; 
    color: #fff; 
    font-style: italic;
}

h2 {
    font-size: 35px; 
    color: black;
    text-align: center;
}
/* header */
.splash {
    background-image: url(https://i.postimg.cc/sgMzs437/1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.menu {
    list-style-type: none;
    display: inline-block;
    text-align: right;
}

.menu a {
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    margin: 0;
    font-size: 12px;
}

.menu li {
    display: inline-block;
    
}

.navbar .container {
    display: flex;
}

.logo-golden {
    font-family: "Lobster", sans-serif;
    font-size: 30px;
    font-style: italic;
    color: yellow;
    font-weight: 300;
}

.splash-inner {
    position:absolute;
    padding:40px;
    top:30px;
    width:100%;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
}

.splash-inner .h2 {
    color: #fff;
}

.button {
    padding: 10px 20px;
    color: #fff;
    background-color: rgb(126, 126, 75);
    border: none;
    font-weight: 400;
}

.navbar-brand {
    font-family:Cookie; 
    font-size: 50px; 
    color: rgb(97, 97, 10); 
    font-style: italic;
}

.portfolio {
    background-color: #eff2f5;
}

@media (max-width: 576px) {
    h1 {
        font-size: 25px;
    }
}

@media (max-width: 576px) {
    h2 {
        font-size: 25px;
    }
}

.services .pt-5 .pb-5 {
    color: grey; 
    font-style:italic; 
    font-size:20px;
    text-align: center;
}

.services .card {
    border:none;
}

.services {
    text-align: center;
    padding: 20px 60px;
}

.services p {
    color: grey;
}

.services .card-image i {
    color:rgb(223, 201, 8); 
    font-size: 24px;
}

.portfolio {
    background-color: #eff2f5;
    text-align: center;
}

.portfolio .portfolio-subtext {
    color: grey; 
    font-style:italic; 
    font-size:20px;
}

h5 {
    font-weight:bold;
}

.portfolio .card-body p {
    font-style: italic; 
    color: grey;
}

.footer .footer-icon {
    font-size:25px;
    color: grey;
    display: inline-block;
}

.footer .list-inline{
    list-style-type: none;
    display: inline-block;
}

.footer .row {
    display: flex;
}

.footer .col-md-9 {
    display: inline-block;
}